<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="Iyke Francis" content="TaskInsider">
    <link rel="shortcut icon" href="/Views/Home/~Images/favicon.ico">

    <title></title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="css/ionicons.min.css">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <div class="preloader">
        <div class="status">&nbsp;</div>
    </div>
    <section class="homebgimage">
        <div class="navbar navbar-custom" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <i class="ion-navicon"></i>
                    </button>
                    <a class="navbar-brand logo" href="index.html">
                        <i class="ion-social-buffer"></i>
                        <span></span>
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 text-left">
                    <div class="home-wrapper">
                        <h1 class="animated fadeInDown wow home-title" data-wow-delay=".1s"> Tasks & Payroll</h1><br />
                        <h4 class="animated fadeInDown wow" data-wow-delay=".2s">Task management and payroll solution for small business <br />startups with the need for excellent Book Keeping.<br />Easily manage clients & providers.</h4><br />
                        <div class="clearfix"></div>
                        <a href="../Account/Register" class="video-btn btn popup-video animated fadeInDown wow" data-wow-delay=".6s"><i class="ion-play"></i>Get Started</a>
                    </div>
                </div>
                <div class="col-sm-4 col-sm-offset-2">
                    <div class="home-wrapper">
                        <form role="form" id="register_form" class="intro-form">
                            <h3 class="text-center"> </h3>
                            <div class="form-group">
                                <a href="#"><img alt="01 brand" src="~/Images/pie.png" height="289" width="390"></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
    <section class="clients bg-gray">
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-2">
                    <div class="brand-item animated fadeInLeft wow" data-wow-delay=".1s">
                        <a href="#"><img alt="01 brand" src="~/Images/01_brand.png"></a>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="brand-item animated fadeInLeft wow" data-wow-delay=".5s">
                        <a href="#"><img alt="05 brand" src="~/Images/05_brand.png"></a>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="brand-item animated fadeInLeft wow" data-wow-delay=".3s">
                        <a href="#"><img alt="03 brand" src="~/Images/03_brand.png"></a>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="brand-item animated fadeInLeft wow" data-wow-delay=".4s">
                        <a href="#"><img alt="04 brand" src="~/Images/04_brand.png"></a>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="brand-item animated fadeInLeft wow" data-wow-delay=".2s">
                        <a href="#"><img alt="02 brand" src="~/Images/02_brand.png"></a>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="brand-item animated fadeInLeft wow" data-wow-delay=".6s">
                        <a href="#"><img alt="06 brand" src="~/Images/06_brand.png"></a>
                    </div>
                </div>
            </div>
        </div>
        <div>
        </div>
        <div>
            <br />
        </div>
    </section>
    <br />
    <hr />
    <br />
    <br />
    <section class="section" id="features">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="feature-1">
                        <img src="~/Images/dash.png" class="img-responsive" alt="Dash-img" height="500" width="550">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="feature-detail">
                        <h1 class="title animated fadeInRight wow" data-wow-delay=".1s">Built In Payment System</h1>
                        <h4 class="animated fadeInRight wow" data-wow-delay=".3s">Accept and manage payments from clients</h4>
                        <p class="features-txt animated fadeInRight wow" data-wow-delay=".5s">Manage payments, Payment methods and Invoices.<br /> Create service charges,<br /> manage commisions, and records.</p>
                        <br />
                        <br />
                    </div>
                    <br />
                    <div class="clearfix"></div>
                    <a href="../Account/Register" class="video-btn btn popup-video animated fadeInDown wow" data-wow-delay=".6s"><i class="ion-play"></i>Learn More</a>
                </div>
                <br />
            </div>
        </div>
        <div>
            <br />
        </div>
    </section>
    <br />
    <hr />
    <br />
    <br />
    <section class="section padding-t-0">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="feature-detail">
                        <h1 class="title animated fadeInLeft wow" data-wow-delay=".1s">Built In Request System</h1>
                        <h4 class="animated fadeInLeft wow" data-wow-delay=".3s">Create and update service request</h4>
                        <p class="features-txt animated fadeInLeft wow" data-wow-delay=".5s">Manage Requests, as well as the status of that request.<br />Track all requests, manage skills,<br /> services and much more.</p>
                        <br />
                        <br />
                        <a href="../Account/Register" class="video-btn btn popup-video animated fadeInDown wow" data-wow-delay=".6s"><i class="ion-play"></i>Take a Tour</a>
                        <br />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="feature-1">
                        <img src="~/Images/profiles.png" class="img-responsive" alt="features-img">
                    </div>
                </div>

            </div>
        </div>
        <div>
            <br />
        </div>
    </section>
    <br />
    <hr />
    <br />
    <br />
    <section class="section bg-gray" id="services">
        <div class="container">

            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="title zoomIn animated wow" data-wow-delay=".1s">Grow Your Business</h1>
                    <p class="sub-title zoomIn animated wow" data-wow-delay=".2s">Why Use TaskInsider<br />Spend less time worrying about Book keeping, and more time on client aquisition.</p> <br />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-4">
                    <div class="service-item animated fadeInLeft wow" data-wow-delay=".1s">
                        <i class="ion-social-buffer"></i>
                        <div class="service-detail">
                            <img src="~/Images/money.png" class="img-responsive" alt="Icon">
                            <h4>Payroll Solutions</h4>
                            <p>Enterprise level commision management, and payment system to help you scale your business.<br /> Manage hourly rates, commisions, salary <br />and payment status. </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="service-item animated fadeInDown wow" data-wow-delay=".3s">
                        <i class="ion-ipad"></i>
                        <div class="service-detail">
                            <img src="~/Images/card.png" class="img-responsive" alt="Icon">
                            <h4>Client Management</h4>
                            <p>Beautifully manage all your clients, adresses, payments and contact information. Create client requests<br />and manage the status<br />of all requests.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="service-item animated fadeInRight wow" data-wow-delay=".5s">
                        <i class="ion-wand"></i>
                        <div class="service-detail">
                            <img src="~/Images/payroll.png" class="img-responsive" alt="Icon">
                            <h4>Insider Management</h4>
                            <p>Manage all Insiders, adresses, payments and contact information. Create and forward requests to <br />Insiders. manage request status and <br />banking details.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <br />
        </div>
    </section>
    <br />
    <hr />
    <br />
    <br />
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="zoomIn animated wow" data-wow-delay=".1s">
                        <br />
                        <br />
                        <img src="~/images/quote-icon.png" alt="quote">
                        <br />
                        <blockquote>I have been using TaskInsider for all my company needs for the last 3 years and couldn’t be happier with their service and expertise. They’ve surpassed all of my expectations and customer service!</blockquote>
                        <br />
                        <div class="clientblock">
                            <img src="~/Images/testi-1.jpg" alt="." class="img-circle">
                            <p>
                                <strong>Mark Wainright</strong> <br>
                                CEO &amp; Founder of ToyKids
                            </p>
                            <br />
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section bg-dark footer-cta">
        <div class="container">
            <div class="row text-center">
            </div>
        </div>
    </section>
</body>
</html>
